body {
    font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
    background-color: hsl(191, 82%, 56%);
    height: 50px;
    font-weight: bolder;
    padding-left: 20px;
    font-size: x-large;
}

.divInput {
    border-bottom: 1px solid black;
    padding: 20px;
}

.divTables {
    padding: 20px;
}

b {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px
}

th {
    background-color: rgb(190, 190, 190);
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    position: relative;
}

td img {
    height: 40px;
    margin: 0 auto;
}

.tableSeasons tr:hover {
    background-color: rgb(222, 255, 184);
}